/* .user-info {

} */

.user-container {
  display: flex;
}
.user-info-img {
  width: 200px;
}

.user-info-text {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.user-info-text > p {
  color: #333;
  font-size: 18px;
}

.user-info-text > a {
  text-decoration: none;
}