.user-container {
  display: flex;
  /* height: 200px; */
  margin: 20px 0;
  padding: 50px;
  background-color: #f3d2c1;
  border-radius: 25px;
}
.user-info-img {
  max-width: 200px;
  border-radius: 50%;
  flex: 1;
}

.user-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  padding: 20px 30px;
  min-width: max-content;
  flex: 1;
}


.user-info-chart {
  flex: 2;
}

.user-info-text > p {
  color: #001858;
  font-size: 18px;
  border-radius: 5px;
  background-color: #fef6e4;
  padding: 5px;
}

.user-info-text > a {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}